{
	auto_https off
	admin off
}

:8000 {
	@models {
		method GET
		path /v1/models
	}
	handle @models {
		root * /srv
		rewrite * /v1_models.json
		header Content-Type application/json
		file_server
	}

	respond 404
}
